@use '../variables' as variables;


.banner-area {
    .box-image-user {
        // padding-top: 150px;
        &:before {
            content: " ";
            // position: absolute;
            left: 0;
            right: 0;
            // bottom: -100px;
            bottom: 0;
            height: 200px;
            // height: 420px;
            background: linear-gradient(180deg, rgba(7, 7, 7, 0) 23.58%, #080808 55.06%);
            filter: blur(50px);
            z-index: 1;
        }

        .box-texts-animation {
            .texts-one {
                left: 0;
                right: 0;
                text-align: center;
                -webkit-text-stroke: 1.25px rgb(213, 213, 213);
                color: transparent;
                font-weight: 700;
                line-height: 30px;
                z-index: -1;
                animation: up-down-2 0.8s infinite alternate ease-in-out;
            }

            .texts-two {
                left: 0;
                right: 0;
                text-align: center;
                font-weight: 700;
                line-height: 20px;
                color: transparent;
                -webkit-text-stroke: 1.25px rgb(64, 19, 230);
                z-index: 2;
                animation: up-down 1.5s infinite alternate ease-in-out;
            }
        }
        
    }

    @keyframes up-down-2 {
        0% {
            transform: translateY(-10px); /* Starting position */
        }
        100% {
            transform: translateY(0); /* Move up by 50px */
        }
    }
    
    @keyframes up-down {
        0% {
            transform: translateY(0); /* Starting position */
        }
        100% {
            transform: translateY(-10px); /* Move up by 50px */
        }
    }

    @media (min-width: 1536px) {
        .box-image-user {
            &:before {
                content: " ";
                position: absolute;
                bottom: -135px;
                height: 420px;
                background: linear-gradient(180deg, rgba(7, 7, 7, 0) 23.58%, #080808 45.06%);
                filter: blur(50px);
                z-index: 1;
            }
        }
    }
}