// Colors
$main-color: #015aad;
$black: #000;

// Font family
$primary-font: "Rajdhani", sans-serif;
$secondary-font: "Rubik", sans-serif;


// Transition
$bg-transition: background 0.3s ease;
$transition: .6s;


// Font classes
.secondary-font {
    font-family: $secondary-font;
}